# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_ngPvcrUzfD03@ep-nameless-wave-ah6ntmkh-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# NextAuth
NEXTAUTH_SECRET=UZOj8MECV+mOTX4ZMuUNK3MDxUHfj2NX0Jj6yuHOQJY=
NEXTAUTH_URL=http://localhost:3000

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=https://fgekvdycswamzmlvoiyr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnZWt2ZHljc3dhbXptbHZvaXlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNTIzMzQsImV4cCI6MjA5NjkyODMzNH0.JNSTmIujicrIDhcROGp16nPv00F5RxP728cvcKKnBos
